.side-menu-contacts {
    list-style-type: none;
    height: 100%;
    padding: 0px;
    background: #f8f9fa;
}

.side-menu-contacts li {
    padding: 16px;
    transition: 0.3s ease-in-out;
}

.side-menu-contacts li:hover {
    background-color: #06b8df;
    color: white;
}

.contacts-table {
    border: 1px solid #f8f9fa;
}

.contacts-table thead {
    background: linear-gradient(to bottom right, #14adc7, #118cd0);
    color: white;
}
.contacts-table td {
    border: 0px;
}
.contacts-table tr:nth-child(even) {
    background-color: #f8f9fa;
}
.pagination {
    margin: 0px;
    justify-content: center;
}
.pagination li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid;
    border: 1px solid #f8f9fa;
}
.pagination .active {
    background: #12bbe0;
    color: white;
}
.loadingContent {
    display:flex;
    justify-content: center;
    align-items: center;
    width:  100%;
    height: 100%;
}
