<app-header></app-header>
<div class="container-fluid">
<div class="row">
  <div class="col-sm-3">
    <ul class="side-menu-contacts">
      <li>Novo Contato</li>
      <li>Criar Grupo</li>
    </ul>
  </div>
  <div class="col-sm-9">
    <div class="loadingContent" *ngIf="loading">
      <lottie-animation-view [options]="lottieConfig" [width]="100" [height]="30">
      </lottie-animation-view>
    </div>
    <table *ngIf="pagedItems" class="table contacts-table">
      <thead>
        <tr>
          <td>Nome</td>
          <td>Telefone</td>
          <td>E-mail</td>
          <td>Cidade</td>
          <td>Estado</td>
          <td>Categoria</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of pagedItems">
          <td>{{ contact.name }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.city }}</td>
          <td>{{ contact.state }}</td>
          <td>{{ contact.category }}</td>
        </tr>
      </tbody>
    </table>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">Primeira</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Próxima</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Última</a>
      </li>
    </ul>
  </div>
</div>
</div>