.side-menu-viewcontact {
    list-style-type: none;
    height: 100%;
    padding: 0px;
    background: #f8f9fa;
}

.side-menu-viewcontact li {
    padding: 16px;
    transition: 0.3s ease-in-out;
}

.side-menu-viewcontact li:hover {
    background-color: #06b8df;
    color: white;
}