<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
            <ul class="side-menu-viewcontact">
                <li>Editar Contato</li>
                <li>Excluir Contato</li>
              </ul>
        </div>
        <div class="col-sm-9">
          <div class="loadingContent" *ngIf="loading">
            <lottie-animation-view [options]="lottieConfig" [width]="150" [height]="150">
            </lottie-animation-view>
          </div>
          <ng-template [ngIf]="!loading">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Nome Completo</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" value="{{contact.name}}" placeholder="John Doe">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Categoria</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" value="{{contact.category}}" placeholder="Eleitor">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">E-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" value="{{contact.email}}" placeholder="john@doe.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Telefone</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="{{contact.phone}}" placeholder="(41) 9 9999-9999">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Cidade</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="{{contact.city}}" placeholder="Curitiba">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Estado</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="{{contact.state}}" placeholder="Paraná">
          </div>
        </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
