<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="http://mygov.techpublic.com.br/img/logogtp.png" width="150">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="col-sm-2">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-outline-primary" ngbDropdownToggle>Menu</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="changeRoutes('contacts')">Contatos</button>
                <button class="dropdown-item" (click)="changeRoutes('events')">Eventos</button>
                <button class="dropdown-item">Envio de SMS</button>
              </div>
            </div>

        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="form-inline my-2 my-lg-0 searchForm">
        <input class="form-control" type="search" (keyup)="searchValue($event.target.value)" placeholder="Pesquisar contatos, eventos..."
          aria-label="Search" style="width: 100%;">
        <div *ngIf="inputCheck" class="autocomplete-search">
          <ul *ngIf="loading">
            <li><lottie-animation-view  [options]="lottieConfig" [width]="100" [height]="30">
              </lottie-animation-view></li>
          </ul>
          
          <ul *ngIf="!loading">
            <li *ngFor="let item of searchList" (click)="viewSearchResult(item.type,item.id)">
              <span class="searchName">{{item.name}}</span>
              <span class="searchType">{{item.type}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      {{currentUser.firstname }} {{ currentUser.lastname }}
    </div>
  </div>
</nav>
