.searchForm {
    position: relative;
}
.autocomplete-search {
    position: absolute;
    top: 40px;
    z-index: 10;
    width: 100%;
}
.autocomplete-search ul {
    list-style: none;
    border-radius: 5px;
    border: 1px solid darkgray;
    background: #f8f9fa;
    padding: 0px;
    
}
.autocomplete-search ul li {
    padding: 10px;
    position: relative;
}
.autocomplete-search ul li .searchType {
    position: absolute;
    right: 10px;
}
.autocomplete-search ul li:hover {
    background: #1298cc;
}