.left-login {
    background: #2cb8c7;
    position: relative;
    padding: 100px;
    height: 100vh;
    color: white;
}
.left-login img {
    position: absolute;
    bottom: 0px;
    left: 60px;

    width: 80%;
}
.right-login {
    padding: 100px;
    height: 100vh;
    box-shadow: 0px 0px 100px 0 #1b1b1b;
    z-index: 10;
}
.right-login label {
    padding: .375rem .75rem;
    vertical-align: middle;
    line-height: 2.0;
    text-align: center;
}
.right-login input[type=text],.right-login input[type=password] {
    display: block;
    width: 100%;
    border: 0px;
    margin: 30px 0px;
    border-bottom: 2px solid #2cb8c7;
    padding: 10px 20px;
    transition:all 0.6s ease-in-out;
}
.right-login input[type=text]:focus ,.right-login input[type=password]:focus {
    border-color: #96e0e8;

}
.right-login h3 { 
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 3em;
    color: darkgrey;
}