<div class="row">
  <div class="col-sm-6 left-login">
    <img src="http://techpublic.com.br/imgs/fundos/2.png">
  </div>
  <div class="col-sm-6 right-login">
    <form name="form" (ngSubmit)="login()" novalidate>
      <div class="row">
        <div class="col-sm-12">
          <h3>Login</h3>
          <input type="text" placeholder="Usuário" name="username" [(ngModel)]="model.username" #username="ngModel" required>
          <input type="password" placeholder="Senha" name="password" [(ngModel)]="model.password" #password="ngModel" required>
          <app-alert></app-alert>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <button [disabled]="loading" type="submit" class="btn blk-btn-purple">
            <span *ngIf="!loading">Logar</span>
            <lottie-animation-view *ngIf="loading" [options]="lottieConfig" [width]="100" [height]="30">
            </lottie-animation-view>
          </button>
        </div>
        <div class="col-sm-6">
          <label>
            <input type="checkbox"> Manter Logado
          </label>
        </div>
      </div>
    </form>
  </div>
</div>