/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,500i,700');
html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
    min-height: 100vh;
}

input {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.blk-btn-purple {
    display: block;
    width: 100%;
    color: white;
    background: #5a2cc7;
    font-size: 20px;
    font-weight: 300;
}